spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
